<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 header">
          <ul class="nav-icon">
            <li><a href="/weaverblog" class="site-title">{{site.title}}</a></li>
            <li><a href="http://andrewweaver.info" class="site-title">Website</a></li>
            <li><a href="https://privatezero.github.io/tao" class="site-title">Tao</a></li>
            <li><a href="https://github.com/{{site.github}}" title="Github" data-hint="Github"  title="Github"><i class="fa fa-github"></i></a></li>
            <li><a href="https://twitter.com/{{site.twitter}}" title="Twitter" data-hint="Twitter"  title="Github"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.librarything.com/profile/private_zero" title="Library Thing" data-hint="LT"  title="Library Thing"><i class="fa fa-book"></i></a></li>
          </ul>
          <!-- site title -->
          <h1 class="site-name">{{site.author}}</h1>
          <!-- tag 1 -->
          <p class="site-tagline">I am an <span class="profession">{{site.profession}}</span></p>
           <!-- tag 2 -->
           <p class="site-tagline">{{site.tagline}}</p>
      </div>
    </div>
  </div>
</header>
